@import '../../theme/fonts.scss';
@import '../../theme/theme.scss';
@import '../../theme/layout';
@import '../../theme/colors.scss';
@import '../../kai-font/style.scss';

:root {
  --il-text-focused: var(--color-gs00);
  --il-icon-unfocused: var(--color-zeta);
}
.kai-il-img {
  width: auto;
  min-height: var(--list-item-height);
  text-align: left;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  outline: none;
  background-color: $white;
  &:focus {
    color: var(--il-text-focused);
  }

  &-focused {
    background-color: $defaultFocusColor;
  }

  &-selected {
  }

  &-icon {
    &-focused {
      span::before {
        @include list-item-icon;
        color: var(--il-text-focused);
      }

      img {
        @include list-item-icon;
        color: var(--il-text-focused);
      }
    }

    &-unfocused {
      span::before {
        @include list-item-icon;
        color: var(--il-icon-unfocused);
      }

      img {
        @include list-item-icon;
        color: var(--il-icon-unfocused);
      }
    }
  }

  &-line {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1rem 1rem 1rem 0;
    span,
    label {
      padding: 1rem;
      width: 100%;
      overflow: hidden;
    }
      
  }

  span.counter{
    padding:0;
    margin-right: 1rem;
    width: inherit;
    font-weight: bold;
    font-size: 1.6rem;
  }

  &-primary {
    @extend .p-pri;
  }

  &-secondary {
    @extend .p-sec;
  }
}
