@import '../../theme/fonts.scss';
@import '../../theme/theme.scss';
@import '../../theme/layout';

:root {
  --tab-background-color: var(--color-gs00);
  --tab-underline-color: var(--color-purple);
}
.kai-list-item {
  width: 100%;
  min-height: 6rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  outline: none;
  &:focus {
    color: var(--color-gs00);
    background: var(--highlight-color);
  }

  &-icon {
    height: 100%;
    text-align: center;
    color: var(--highlight-color);

    > span {
      font-size: 3.2rem;
      line-height: 6rem;
    }
  }

  &-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: calc(90% - 6rem);

    span,
    label {
      margin: 0 0 0 1rem;
      padding: 0;
      width: 100%;
      overflow: hidden;
    }
  }

  &-primary {
    font-size: 1.7rem;
  }

  &-secondary {
    font-size: 1.4rem;
  }
}
