@import '../../theme/fonts.scss';
@import '../../theme/theme.scss';
@import '../../theme/layout';

.kai-tab-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  &-tabs {
    flex-shrink: 0;
  }
  &-content {
    flex-grow: 1;
    height: calc(100% - 3rem);
    overflow: auto;
  }
}
