@import '../../theme/fonts.scss';
@import '../../theme/theme.scss';

:root {
  --btl-background-color: var(--color-gs00);
  --btl-text-focused: var(--color-gs00);
  --btl-background-active-color: var(--color-purple);
}
.kai-btl {
  height: fit-content;
  width: 100%;
  min-height: 6rem;
  outline: none;
  background-color: var(--btl-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;

  span,
  label {
    padding: 0;
    width: 100%;
    overflow: hidden;
  }

  &:focus {
    color: var(--btl-text-focused);
    background-color: var(--btl-background-active-color);
  }

  &-header {
    @extend h2;
  }

  &-body {
    @extend p;
  }
}
